@font-face {
    font-family: 'EarlyGameBoy';
    src: url('early_gameboy.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, Opera 10+, Safari 4.2+ */
}

body {
    font-family: 'EarlyGameBoy', Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, auto); /* Adjust the number of columns based on layout needs */
    gap: 15px; /* Space between columns */
}

img {
    width: 80px;
    height: 80px;
}

.button {
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
}

@media (max-width: 1200px) {
    #container {
        grid-template-columns: repeat(2, auto); /* Use two columns instead of four */
    }
    img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 600px) {
    #container {
        grid-template-columns: repeat(1, auto); /* Use one column instead of four */
    }
    img {
        width: 60px;
        height: 60px;
    }
}
